.vscode

cspr/dist
cspr/node_modules
cspr/target
cspr/decimal/target
cspr/decimal/decimal_core/target

a0/dist
a0/node_modules
a0/target
a0/decimal/target
a0/decimal/decimal_core/target


serde-cspr/dist
serde-cspr/node_modules
serde-cspr/target
serde-cspr/decimal/target
serde-cspr/decimal/decimal_core/target
serde-cspr/traceable_result/*

serde-a0/dist
serde-a0/node_modules
serde-a0/target
serde-a0/decimal/target
serde-a0/decimal/decimal_core/target
serde-a0/traceable_result/*